@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}


/*** ALL THE COLORS  ***/

:root {
    --whiteColor: #fff;
    --blackColor: #000;
    --blueColor: #124e78;
    --blue: #4f8286;
    --grayColor: #c3c3c352;
}


/*** BODY PROPERTIES ***/

body {
    font-size: 1rem;
    font-family: "Lora", serif;
}


/*** HEADER AFTER REGISTRATION ***/

header {
    display: flex;
    padding: 15px 30px;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 3;
    justify-content: space-between;
}

.header-items button {
    border: none;
    outline: none;
    font-weight: 700;
    padding: 15px 20px;
    border-radius: 25px;
    font-style: italic;
    color: var(--blueColor);
    font-family: "Lora", serif;
    background: var(--whiteColor);
}

.header-color {
    transition: 0.3s;
    transition-delay: 0.2s;
    background: linear-gradient(100deg, #b4b2b2eb, #000000c8);
}


/*** ADMIN HOPME PAGE ***/

.home-page {
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    animation-delay: 0.8s;
    animation: animate 5s linear infinite;
    background-image: url('../images/imagevector.jpg');
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 60%);
}

@keyframes animate {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
}

.home-page div {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 20px;
    color: var(--whiteColor);
    background: linear-gradient(100deg, #636262a0, #000000c8);
}

.home-page div h2 {
    font-size: 2.8rem;
    font-style: italic;
    font-family: "Lora", serif;
}

.home-page div p {
    font-size: 1.3rem;
    width: 60%;
    margin-top: 15px;
    text-align: right;
}


/*** FORM ***/

.student-registration {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 40px;
}

.registration-items {
    width: 40rem;
    padding: 30px 30px;
    background-color: var(--whiteColor);
    box-shadow: 0px 15px 20px var(--grayColor);
}

.registration-items h3 {
    font-size: 1.5rem;
    color: var(--blueColor);
    margin-top: 15px;
    margin-bottom: 15px;
    font-style: italic;
    text-align: center;
}

form label {
    position: absolute;
    margin-top: 5px;
    margin-left: 15px;
    color: var(--blueColor);
    font-style: italic;
    font-size: 0.8rem;
}

form input {
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    font-family: "Lora", serif;
    border: 0.8px solid var(--grayColor);
}

.input-content .all-inputs {
    display: flex;
    flex-direction: column;
}

form button {
    border: none;
    outline: none;
    width: 100%;
    font-style: italic;
    font-weight: 700;
    margin-top: 10px;
    padding: 10px 15px;
    font-family: "Lora", serif;
    color: var(--whiteColor);
    background-color: var(--blueColor);
}


/*** STUDENT REGISTRATION ADMIN PART ***/

.all-students {
    padding: 0px 30px;
}

.student-information {
    padding: 20px 20px;
    width: fit-content;
    border: 1px solid var(--grayColor);
}

.student-information:hover {
    transition: 0.8s;
    transition-delay: 0.2s;
    transform: translateY(5px);
}

.student-identity {
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    justify-content: center;
    -webkit-column-gap: 10px;
}

.student-information img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.student-information .profile {
    width: 500px;
    height: 300px;
}

.student-information div {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
    -webkit-column-gap: 10px;
}

.student-information div p {
    color: var(--blueColor);
    font-weight: 700;
}

.buttons {
    display: flex;
    gap: 10px;
    -webkit-column-gap: 10px;
    justify-content: center;
}

.buttons button {
    border: none;
    outline: none;
    background: unset;
    padding: 12px 15px;
    border-radius: 50%;
    background-color: var(--grayColor);
}

.buttons a i {
    color: var(--blueColor);
    padding: 15px 15px;
    border-radius: 50%;
    background-color: var(--grayColor);
}

.buttons button .delete {
    color: #ab4242;
}

.buttons button .agree {
    color: var(--blueColor);
}

.feedback button {
    border: none;
    outline: none;
    padding: 10px 15px;
    color: var(--whiteColor);
    background-color: var(--blueColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}


/* MEDIA QUERY FOR REGISTRATION */

@media screen and (max-width: 500px) {
    .student-registration {
        padding: 0px;
    }
    .registration-items {
        padding: 15px 15px;
    }
}


/* media query for student identity */

@media screen and (max-width: 870px) {
    .home-page div h2 {
        font-size: 1.5rem;
    }
    .home-page div p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .home-page div {
        height: 50vh;
        align-items: flex-start;
        background: linear-gradient(100deg, #636262a0, #000000c8);
    }
    .home-page div p {
        width: 100%;
        text-align: left;
    }
    .student-identity {
        display: grid;
        grid-template-columns: auto;
    }
}