@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}


/*** ALL THE COLORS  ***/

:root {
    --whiteColor: #fff;
    --blackColor: #000;
    --blueColor: #124e78;
    --blue: #4f8286;
    --gray: #b4b2b2eb;
    --grayColor: #c3c3c352;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
}


/*** BODY PROPERTIES ***/

body {
    font-size: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}


/*** header ***/

header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 3;
    padding: 20px 150px;
    justify-content: space-between;
}

header .header-items {
    display: flex;
    gap: 20px;
    -webkit-column-gap: 20px;
}

header .header-items a {
    color: var(--whiteColor);
}

.header-color {
    transition: 0.3s;
    transition-delay: 0.2s;
    background: linear-gradient(100deg, #b4b2b2eb, #000000c8);
}

header .menu i {
    padding: 10px 10px;
    color: var(--whiteColor);
    background-color: var(--grayColor);
}

header .menu .menu-icon {
    display: none;
}

header .menu .exit-icon {
    display: none;
}

.header-items.active {
    margin-right: 0;
}


/*** SECTION ***/

section {
    background-color: var(--whiteColor);
}


/*** HOME PAGE ***/

.home-page {
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    animation-delay: 0.8s;
    animation: animate 5s linear infinite;
    background-image: url('../images/imagevector.jpg');
}

@keyframes animate {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
}

.home-page div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 20px 150px;
    color: var(--whiteColor);
    background: linear-gradient(100deg, #636262a0, #000000c8);
}

.home-page div h2 {
    font-size: 2rem;
    font-style: italic;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.home-page div p {
    width: 50%;
    margin-top: 15px;
    text-align: right;
}

.home-page div a {
    color: var(--whiteColor);
    margin-top: 40px;
    padding: 15px 20px;
    border-radius: 30px;
    font-style: italic;
    font-weight: 700;
    background-color: var(--grayColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}


/*** ADVANTAGES OF THE SYSTEM ***/

.system-advantages {
    position: relative;
    width: 70%;
    margin: auto;
}

.system-items {
    display: flex;
    margin-top: -50px;
    border-radius: 10px;
    background-color: var(--whiteColor);
    box-shadow: 0px 10px 20px var(--grayColor);
}

.system-items div {
    width: 100%;
    padding: 20px 30px;
    text-align: center;
}

.system-items div i {
    padding: 15px;
    border-radius: 50%;
    font-size: 1rem;
    color: var(--whiteColor);
    background-color: var(--blueColor);
}


/*** ABOUT US ***/

.about-us {
    margin-top: 70px;
    padding: 20px 150px;
}

.about-us h3 {
    font-size: 2rem;
    color: var(--blueColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}

.about-us h4 {
    width: 5.5rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 2px;
    border: 3px solid var(--blueColor);
}

.about-us div {
    text-align: center;
    font-size: 1.1rem;
}

.about-us div p {
    margin-top: 5px;
}

.about-us div i {
    font-size: 2.8rem;
    color: var(--grayColor);
}


/*** OUR MISSION ***/

.mission {
    padding: 20px 150px;
    margin-top: 70px;
    background-color: var(--grayColor);
}

.mission h3 {
    font-size: 2rem;
    color: var(--blueColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}

.mission h4 {
    width: 5.5rem;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    border: 3px solid var(--blueColor);
}

.mission-items {
    display: flex;
    align-items: center;
    font-style: italic;
    font-size: 1.1rem;
}


/*** Wrapper counter ***/

.wrapper {
    padding: 20px 150px;
    margin-top: 70px;
}

.wrapper-container {
    display: flex;
    gap: 10px;
    -webkit-column-gap: 10px;
    justify-content: space-between;
}

.wrapper-container .counter {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    -webkit-column-gap: 10px;
}

.wrapper-container .counter i {
    font-size: 2rem;
    margin-bottom: 5px;
    color: var(--blueColor);
}

.wrapper-container .counter p,
span {
    color: var(--blueColor);
    font-weight: 700;
}


/*** OUR PRINCIPLES ***/

.principles {
    padding: 20px 150px;
    margin-top: 70px;
    background-color: var(--grayColor);
}

.principles h3 {
    font-size: 2rem;
    text-align: end;
    color: var(--blueColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}

.principles h4 {
    width: 5.5rem;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 2px;
    text-align: end;
    border: 3px solid var(--blueColor);
}

.princ {
    display: flex;
    justify-content: space-between;
}

.principles-items {
    display: flex;
    align-items: center;
    gap: 20px;
    font-style: italic;
    -webkit-column-gap: 20px;
}


/*** CONCTACT ***/

.contact-us {
    padding: 20px 150px;
}

.contact-us h3 {
    font-size: 2rem;
    text-align: center;
    color: var(--blueColor);
}

.contact-us h4 {
    width: 5.5rem;
    border-radius: 10px;
    margin-top: 5px;
    margin: auto;
    margin-bottom: 2px;
    border: 3px solid var(--blueColor);
}

.contact-container {
    display: flex;
    gap: 40px;
    width: 100%;
    margin-top: 20px;
    -webkit-column-gap: 40px;
}

.bloc-contact .items {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 0.8rem;
    -webkit-column-gap: 10px;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.bloc-contact .items i {
    padding: 20px 20px;
    border-radius: 50%;
    color: var(--blueColor);
    background-color: var(--grayColor);
}

.message {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.message .form {
    width: 60rem;
    margin: auto;
}

.message h3 {
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: var(--blueColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}

.message h4 {
    width: 5.5rem;
    border-radius: 10px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 3px solid var(--blueColor);
}

.contact-form {
    flex-grow: 1;
}

form input,
textarea {
    width: 100%;
    border: none;
    outline: none;
    background: unset;
    padding: 15px 20px;
    margin-top: 10px;
    border: 1px solid var(--grayColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}

.form-input {
    display: flex;
    gap: 10px;
    -webkit-column-gap: 10px;
}

form .btn-submit {
    display: flex;
    justify-content: center;
}

form .btn-submit button {
    border: none;
    outline: none;
    margin-top: 10px;
    background: unset;
    padding: 15px 20px;
    border-radius: 25px;
    color: var(--whiteColor);
    background-color: var(--blueColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}


/*** FOOTER ***/

footer {
    margin-top: 20px;
    padding: 40px 40px;
    color: var(--whiteColor);
    text-align: center;
    font-style: italic;
    background-color: var(--blueColor);
    font-family: "Plus Jakarta Sans", sans-serif;
}


/* MEDIA QUERY */

@media screen and (max-width: 1250px) {
    header,
    .home-page div,
    .about-us,
    .mission,
    .wrapper,
    .principles,
    .contact-us {
        padding: 20px 50px;
    }
}

@media screen and (max-width: 1000px) {
    .mission-items,
    .principles-items {
        display: flex;
        margin-top: 30px;
        flex-direction: column;
    }
    .mission h3,
    .principles h3 {
        text-align: center;
    }
    .mission h4,
    .principles h4 {
        margin: auto;
    }
    .system-advantages {
        width: 90%;
    }
}

@media screen and (max-width: 850px) {
    .home-page div h2 {
        font-size: 1.5rem;
    }
    .home-page div p {
        font-size: 1rem;
    }
    .home-page div a {
        font-size: 1rem;
    }
    .contact-container {
        display: flex;
        flex-direction: column;
    }
    .about-us h3,
    .mission h3,
    .principles h3,
    .contact-us h3,
    .message h3,
    .wrapper-container .counter i {
        font-size: 1.5rem;
    }
    .about-us h4,
    .mission h4,
    .principles h4,
    .contact-us h4,
    .message h4 {
        width: 3.5rem;
    }
}

@media screen and (max-width: 730px) {
    .home-page div p {
        width: 100%;
    }
    .about-us div {
        font-size: 1rem;
    }
    .about-us div i {
        font-size: 1.5rem;
    }
    .system-items {
        display: grid;
        background: unset;
        gap: 10px;
        margin-top: 50px;
        box-shadow: 0px 0px 0px 0px var(--grayColor);
        grid-template-columns: auto auto;
    }
    .system-items div {
        border-radius: 10px;
        background-color: var(--whiteColor);
        box-shadow: 0px 0px 8px 0px var(--grayColor);
    }
}

@media screen and (max-width: 630px) {
    header,
    .home-page div,
    .about-us,
    .mission,
    .wrapper,
    .principles,
    .contact-us {
        padding: 20px 20px;
    }
    .mission img,
    .principles-items img {
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    header {
        display: flex;
        flex-direction: row-reverse;
    }
    header .menu .menu-icon {
        display: initial;
    }
    header .header-items {
        width: 100%;
        padding: 40px 40px;
        position: absolute;
        top: 78px;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-right: 100%;
        transition: all 0.4s ease-in;
        -webkit-column-gap: 30px;
        background-color: var(--whiteColor);
    }
    header .header-items a {
        transition: 0.5s ease-in;
        color: var(--blackColor);
    }
    header .header-items a:hover {
        color: var(--blueColor);
    }
    .form-input {
        display: flex;
        flex-direction: column;
        gap: 5px;
        -webkit-column-gap: 5px;
    }
    .system-items {
        display: grid;
        grid-template-columns: auto;
    }
    .home-page div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: linear-gradient(100deg, #000000c8, #636262a0);
    }
    .home-page div p {
        text-align: left;
    }
}

@media screen and (max-width: 400px) {}