/*** RESET ***/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}


/*** BODY PROPERTIES ***/

body {
    font-size: 1rem;
    font-family: "Plus Jakarta Sans", sans-serif;
}